[submodule "tools/splat"]
	path = tools/splat
	url = https://github.com/ethteck/splat.git
[submodule "f3dex2"]
	path = f3dex2
	url = https://github.com/Mr-Wiseguy/f3dex2.git
[submodule "ultra"]
	path = ultra
	url = https://github.com/RocketRet/libreultra.git
[submodule "kmc"]
	path = tools/kmc
	url = https://github.com/Mr-Wiseguy/kmc-gcc-wrapper.git
